<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Profile Detail PDF</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h2 {
      margin-bottom: 20px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    ul li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h2>Profile Detail</h2>
  <ul>
    <li>Username: {{ user.username }}</li>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Phone Number: {{ user_profile.phone_number }}</li>
  </ul>
</body>
</html>
